<!-- this is the partial template for the the hero carousel -->
<div id="hero-carousel" class="carousel slide" ng-controller="heroCarouselController">
    <div class="carousel-indicators mb-4">
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active me-3"
            aria-current="true" aria-label="Slide 1"></button>
        <!-- these are test slides, to test until more slides are added -->
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" class=""
            aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item slide active">
            <img ng-src="{{ hcAssetsDir + 'img-1.png' }}" class="w-100 slide-base" alt="Slide 1">
            <img ng-src="{{ hcAssetsDir + 'img-1-left.png' }}" class="slide-left">
            <img ng-src="{{ hcAssetsDir + 'img-1-right.png' }}" class="slide-right">
            <img ng-src="{{ hcAssetsDir + 'img-1-inset.png' }}" class="slide-inset">
            <button type="button" class="slide-btn">SHOP NOW</button>
        </div>
        <!-- these are test slides, to test until more slides are added -->
        <div class="carousel-item slide">
            <img ng-src="{{ hcAssetsDir + 'img-1.png' }}" class="w-100 slide-base" alt="Slide 2">
            <img ng-src="{{ hcAssetsDir + 'img-1-left.png' }}" class="slide-left">
            <img ng-src="{{ hcAssetsDir + 'img-1-right.png' }}" class="slide-right">
            <img ng-src="{{ hcAssetsDir + 'img-1-inset.png' }}" class="slide-inset">
            <button type="button" class="slide-btn">SLIDE 2</button>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <img ng-src="{{ hcAssetsDir + 'left.png' }}" alt="&lt;">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <img ng-src="{{ hcAssetsDir + 'right.png' }}" alt="&gt;">
        <span class="visually-hidden">Next</span>
    </button>
</div>
